body{
    font-size: 16px;
}

.text{
    margin-left: 42%;
}


.lk{
    position: bsolute;
    margin-top: 85px;
    margin-left: 350px;
    height: 500px;
    width: 500px;
}
.osnov{
    display: flex;
}


.img_fvt{
	margin-top: 18px;
	
}

.fvt_text{
    margin-top: 12px;
    font-family: "Noto Sans", sans-serif;
}

.f18{
    font-size: 15px;
    font-family: "Noo Sans", sans-serif;
}

.fs{
    font-size: 25px;
    font-family: "Vollkorn SC", serif;
}


.text_up{
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    font-family: "Noo Sans", sans-serif;
    

}

.text_1{
    font-size: 25px;
}

.text_2{
    font-family: "Noo Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}